/* .github-section {
    text-align: center;
    padding: 20px;
  }
  
  .year-buttons {
    margin-bottom: 15px;
  }
  
  .year-btn {
    background: #333;
    color: #bbb;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .year-btn.active {
    background: #fff;
    color: #000;
  }
  
  .github-graph {
    display: flex;
    justify-content: center;
  }
   */


   .github-section {
    text-align: center;
    padding-left: var(--padding-default);
    padding-right: var(--padding-default);
    background: #191919;
    border: 1px solid red;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
  }
  

  
  .GithubSectionMainContent{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 1px solid green;
  }

  .github-graph {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    min-height: 150px;
  }
  
  .year-buttons {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 10px;
    margin-left: 30px;
    /* border: 1px solid red; */
    width: max-content;
  }
  
  .year-btn {
    background: none;
    color: #bbb;
    border: 1px solid #555;
    padding: 8px 12px;
    margin: 5px 0;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .year-btn.active {
    background: #ffffff;
    color: #000;
  }
  
  .github-link {
    display: block;
    margin-top: 15px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #ffffff;
    padding: 10px 15px;
    border-radius: 12px;
    transition: 0.3s;
  }
  
  .github-link:hover, .year-btn:hover {
    background: #ffffff;
    color: #000;
  }
  

  .year-btn {
    font: var(--font-primary);
    font-weight: var(--font-weight-extrabold);
    font-size: var(--font-size-third-title);
    color: var(--color-accent);
    width: max-content;
    border-radius: 12px;
  }
  
  .year-btn.active {
    background-color: #ffffff;
    color: var(--color-background-dark);
  }
  